BasedOnStyle: WebKit
ColumnLimit: 80
AlignTrailingComments: true
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: true
FixNamespaceComments: true
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
SortIncludes: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignOperands: true
AllowShortIfStatementsOnASingleLine: Never
Cpp11BracedListStyle: false
InsertNewlineAtEOF: true
Language: Cpp
Standard: Cpp03
